@import "../../../scss/variables";

.mat-drawer-container {
    width: 100vw;
    height: 100vh;
    background-color: $bg;
}

.mat-drawer {
    padding: 20px;
    height: 100%;
    width: 65%;
    background: $bg-alt;
}
.mat-drawer-content {
    position: absolute;
    z-index: -1;
}

section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1rem;
}

#close {
    margin-left: 12rem;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 80%;
    width: 50%;
}

a {
    font-size: 1.5rem;
    font-weight: $semi-bold;
    color: $nav-text;
    text-align: left;
    margin: 0.7rem 0;
}

#nav-login {
    margin: 3rem 0.7rem;
}
