<button (click)="drawer.open()" id="close" mat-button>
    <app-close></app-close>
</button>
<mat-drawer-container>
    <button (click)="drawer.close()" id="close" mat-button>
        <app-close></app-close>
    </button>
    <mat-drawer #drawer mode="side" position="end">
        <section>
            <button (click)="drawer.close()" id="close" mat-button>
                <app-close></app-close>
            </button>
        </section>
        <ul>
            <a routerLink="/dashboard" mat-button>Dashboard</a>
            <a routerLink="/bugs" mat-button>Bugs</a>
            <a routerLink="/news" mat-button>News </a>
            <a routerLink="/patch-notes" mat-button>Patch Notes</a>
            <app-login id="nav-login"></app-login>

        </ul>
    </mat-drawer>

    <mat-drawer-content>

        <nav>
            <button routerLink="/" class="h1" mat-button>TTS</button>

            <button (click)="drawer.open()" id="hamburger" mat-button>
                <app-hamburger></app-hamburger>
            </button>
        </nav>
        <h1>The Tomatohead Society</h1>
        <p>The Tomatohead Society (TTS) is a Fortnite clan that strongly supports Team Pizza and is always looking for
            new members like you! </p>

        <app-login></app-login>
    </mat-drawer-content>
    <mat-drawer-container>