<mat-drawer-container>
    <mat-drawer #drawer mode="side" position="end">
        <section>
            <button (click)="drawer.toggle()" id="close" mat-button>
                <app-close></app-close>
            </button>
        </section>
        <ul>
            <a *ngFor="let link of links;" [routerLink]="link.name" mat-button>{{ link.name }}</a>
            <app-login id="nav-login"></app-login>
        </ul>
    </mat-drawer>

    <mat-drawer-content>
        <ng-content></ng-content>
    </mat-drawer-content>

</mat-drawer-container>