<app-nav-bar>
    <nav>
        <button routerLink="/" class="h1" mat-button>TTS</button>
        <div class="links">
            <a *ngFor="let link of links" [routerLink]="link.path" mat-button>{{ link.name }}</a>
        </div>
        <button (click)="toggleDrawer()" id="hamburger" mat-button>
            <app-hamburger></app-hamburger>
        </button>
    </nav>
    <h1>The Tomatohead Society</h1>
    <p>The Tomatohead Society (TTS) is a Fortnite clan that
        strongly supports Team Pizza and is always looking
        for new members like you!</p>

    <section>
        <app-login></app-login>
        <app-join></app-join>
        <img src="../../../assets/images/tomatohead.png" alt="A picture of tomatohead.">
    </section>

</app-nav-bar>