$bg: #161826;
$bg-alt: #191c2c;

$primary: #ff3f3f;
$secondary: #e94d3d;

$nav-text: #8590b7;
$light-text: #dddddd;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

@mixin tablet {
    @media (min-width: 700px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1200px) {
        @content;
    }
}
