@import "../../../scss/variables.scss";

.content {
    @include tablet {
        display: flex;
        flex-direction: column;
        margin-left: 15rem;
        height: 100vh;
        width: 100vw;
    }

    p {
        margin: 2rem 2rem;
    }
}

.test {
    opacity: 1;
    width: 20px;
    height: 20px;
}
