<app-dashboard-nav>
    <div class="content">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At itaque soluta sequi reprehenderit possimus quos
            quae expedita, officia, libero et optio quasi alias eos suscipit obcaecati voluptatibus sint! Consequatur
            soluta dignissimos porro asperiores! Aut, nihil doloremque molestias eos officiis repudiandae, et ipsum non
            dolorem sapiente numquam ea dolorum aperiam error?
        </p>
    </div>
</app-dashboard-nav>